/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.1601)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [BookStore]    Script Date: 8/14/2017 11:25:37 AM ******/
CREATE DATABASE [BookStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookStore', FILENAME = N'C:\src\Lab02team\DataBase\BookStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookStore_log', FILENAME = N'C:\src\Lab02team\DataBase\BookStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStore]
GO
USE [BookStore]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 8/14/2017 11:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([BookId], [Title], [Price], [ImageUrl]) VALUES (1, N'Of Mice and Men', CAST(5.99 AS Decimal(18, 2)), N'https://images.gr-assets.com/books/1437235233l/890.jpg')
INSERT [dbo].[Book] ([BookId], [Title], [Price], [ImageUrl]) VALUES (2, N'The Catcher in the Rye', CAST(6.99 AS Decimal(18, 2)), N'https://images.gr-assets.com/books/1398034300l/5107.jpg')
INSERT [dbo].[Book] ([BookId], [Title], [Price], [ImageUrl]) VALUES (3, N'The Metamorphosis', CAST(1.99 AS Decimal(18, 2)), N'https://images.gr-assets.com/books/1359061917l/485894.jpg')
SET IDENTITY_INSERT [dbo].[Book] OFF
USE [master]
GO
